.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--rem-1);
}

.header__logo {
}

.header__links {
  display: flex;
  gap: var(--rem-1);
}

.header__actions {
}
